.german-shepherd{:"ng-controller" => "GermanShepherdCtrl", :style => "border: 4px solid yellow"}

	%h3 German Shepherd

	%p This is the German Shepherd view, initialised by GermanShepherdCtrl. It has a yellow border and no subview.