!!!
%html{:lang => "en", :"ng-app" => "cloudpulse", :"ng-controller" => "RootCtrl"}
	%head
		%meta{:charset => "utf-8"}
		
		%title Cloudpulse

		:css
			/*.include {
				border: 1px solid red;
			}*/
			/*.page {
				border: 1px solid blue;
			}*/

		%script{:src => "/lib/jquery/jquery-1.7.2.min.js"}
		%script{:src => "/lib/jquery/jquery-ui-1.8.18.min.js"}
		%script{:src => "/lib/angular/angular-1.0.0rc10.min.js"}
		%script{:src => "/js/app.js"}
		%script{:src => "/js/services.js"}
		%script{:src => "/js/controllers.js"}
		%script{:src => "/js/directives.js"}

	%body.page{:"ng-controller" => "ConsoleCtrl"}
		%h1
			%span console 
			%a{:href => "", :"ng-click" => "bearFrozenStacks()"} (initialiserStack)
			%a{:href => "", :"ng-click" => "bearSpace()"} (space)
			%a{:href => "", :"ng-click" => "bearInit(0)"} (0)
			%a{:href => "", :"ng-click" => "bearInit(1)"} (1)
			%a{:href => "", :"ng-click" => "bearInit(2)"} (2)
			%a{:href => "", :"ng-click" => "bearInit(3)"} (3)


		-#.main-container{:"ng-controller" => "ConsoleCtrl"}
		.main-container
			%a{:href => "", :"ng-click" => "showPage('services')"} Services
			%a{:href => "", :"ng-click" => "showPage('monitors')"} Monitors

			%hr
			.include{:"ng-include" => "consoleContent"}